/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('../images/HomePageBG3.jpg') no-repeat center center/cover; /* Main background image */
}

/* Header Styles */
header {
    background: linear-gradient(135deg, #222 0%, #2b2d42 100%);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-content {
    max-width: 1200px;
    margin: auto;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    transition: all 0.5s ease;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: color 0.5s ease, transform 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #c5c5c5;
    transform: scale(1.1);
}

/* Main Section Styles */
main {
    text-align: center;
    padding: 50px 20px;
    color: #333;
}

/* Section Specific Styles */
section {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent white background for text sections */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts the spacing between elements */
}

.intro .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.intro img {
    width: 35%; /* Adjust image width as necessary */
    border-radius: 8px; /* Optional: adds rounded corners to the image */
    margin-right: 30px; /* Ensures space between the image and text */
}

.intro .text {
    width: 60%; /* Adjust text width as necessary */
    text-align: left;
    font-size: 1.2em; /* Larger font size for better readability */
}

/* Hover Effects for Sections */
.intro:hover, .featured-projects:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Footer Styles */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Design Adjustments */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .intro, .featured-projects {
        flex-direction: column;
    }

    .intro img, .intro .text {
        width: 100%;
        margin-right: 0;
    }
}
